<!DOCTYPE html>
{% load static %}
<html>
  <head>
    
    <title>Online Compiler</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <style>
    body{background-color:#f3f3ed;}
    #main{
      width:700px;
      margin:0 auto;
    }

    </style>
  </head>

  <body>
  	{% csrf_token %}

  	<p style="text-align:center"><b>Onilne Compiler</b></p>    
    <div id='main'>
  	<b>Select Language</b><br/>
    <form action="" method="post"> {% csrf_token %}
  	
    <select id="dropDownId" name='lang'>
    <option value="C" >C</option>
  	 <option value="CPP"  >C++</option>
  	 <option value="CPP11"  >C++11</option>
  	 <option value="CLOJURE"  >Clojure</option>
  	 <option value="CSHARP" >C#</option>
  	 <option value="JAVA" >Java</option>
  	 <option value="JAVASCRIPT" >Javascript</option>
  	 <option value="HASKELL" >Haskell</option>
  	 <option value="PERL" >Perl</option>
  	 <option value="PHP">Php</option>
  	 <option value="PYTHON" >Python</option>
  	 <option value="RUBY" >Ruby</option>
	   </select> 

	 <br/>
    <b>Source Code:</b><br/>
    <textarea  cols=100 rows=30 name="source"> </textarea><br/>
    
    <input type="checkbox" id='input_check'>Provide input<br/> 

     <textarea  cols=100 rows=8 id='input_box' name='iinput'> </textarea><br/>
   
    <input type="submit" value="Compile and Run"  />
	</form>

    {% if output_box %}

      <h4>output</h4> {{ooutput}} <br/> <hr/>
      <h4>input</h4> {{iinput}} <br/><hr/>
      
      <table>
      <tr><th>Time(Sec)</th><th>Memory(KB)</th><th>Status</th><th>Status Detail</th></tr>
      <tr><td>{{time_used}}</td><td>{{mem_used}}</td><td>{{status}}</td><td>{{status_detail}}</td>
      </table>

    {% endif %}
 
  </div>


	<script>
  			$(document).ready(function(){

          $("#input_box").hide();

        $("#input_check").click(function() {
            if($('#input_check:checked').length) {
                $("#input_box").show();
            } else {
                $("#input_box").hide();
            }
        });



    
});

</script>

  </body>
</html>




